body {
  margin: 0;
  font-family: 'Fredoka', sans-serif;
}

.secao-topo {
  border-bottom: 1px solid #d5d5d5;
}

.secao-largura-limitada {

}

https://www.devmedia.com.br/view/viewaula.php?idcomp=43296